<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pookjw.CoreDataXPC.Helper</string>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Program</key>
	<string>/Users/pookjw/Desktop/CoreDataXPCHelper</string>
	<key>WaitForDebugger</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.pookjw.CoreDataXPCHelper</key>
		<true/>
	</dict>
</dict>
</plist>
